<module :class="blockClasses"
        :backgroundPosition="backgroundPosition"
        :backgroundDecoration="false"
        :backgroundImage="null">

    <component :is="`module-${layoutArea}`" :class="element('question-background-wrapper')">
        <module-content>
            <c-grid :class="element('background-grid')">

                <div :class="[element('question-background'), backgroundSizeClass]"/>

            </c-grid>
        </module-content>
    </component>

    <module-content :class="element('question-wrapper')">
        <c-grid>

            <div :class="[element('question'), questionSpacingClass]">

                <div v-if="slotHasContent('progress')" :class="element('progress')">
                    <slot name="progress"/>
                </div>

                <c-heading v-if="heading" v-bind="_heading"/>

                <div v-if="slotHasContent('assets')" :class="element('assets')">
                    <slot name="assets"/>
                </div>

                <c-text v-if="text" :text="text"/>

            </div>

        </c-grid>
    </module-content>


    <component :is="`module-${layoutArea}`" :class="element('interaction-background-wrapper')">
        <module-content>
            <c-grid :class="element('background-grid')">

                <div :class="[element('interaction-background'), backgroundSizeClass]"
                     :style="interactionBackgroundStyle"/>

            </c-grid>
        </module-content>
    </component>

    <slot>

        <component ref="interaction"
                   v-bind="_interactionProps"
                   :is="_interaction"
                   :class="element('interaction')"
                   :layoutArea="layoutArea"
                   :resolved="status === 'resolved'"
                   @evaluated="changeStatus" />

    </slot>


<!--    <component v-if="status === 'feedback'" :is="`module-${layoutArea}`" :class="element('feedback-background-wrapper')">-->
    <component :is="`module-${layoutArea}`" :class="element('feedback-background-wrapper')">
        <module-content>
            <c-grid :class="element('background-grid')">
                <div :class="[element('feedback-background'), backgroundSizeClass]" style="opacity: 0"/>
            </c-grid>
        </module-content>
    </component>

<!--    <transition-feedback :moduleElement="`.${$options.name}`"-->
<!--                         :affectedElementSizeSource="`.interaction`"-->
<!--                         :backgroundElement="`.${element('feedback-background')}`"-->
<!--                         :feedback="`.c-feedback`">-->
<!--&lt;!&ndash;        :affectedElementSizeSource="`.${element('interaction-wrapper')}`"&ndash;&gt;-->

<!--        <c-feedback v-if="status === 'feedback'"-->
<!--                    v-bind="feedbackProps"-->
<!--                    :class="element('feedback')"-->
<!--                    @retry="retry"-->
<!--                    @resolve="resolveQuestion" />-->

<!--    </transition-feedback>-->

<!--    <transition-feedback :moduleElement="`.${$options.name}`"-->
<!--                         :affectedElementSizeSource="`.interaction`"-->
<!--                         :backgroundElement="`.${element('feedback-background')}`"-->
<!--                         :feedback="`.c-feedback`">-->

        <c-feedback v-bind="feedbackProps"
                    :class="element('feedback')"
                    :status="status"
                    @retry="retry"
                    @resolve="resolveQuestion" />

<!--    </transition-feedback>-->

</module>
