<module
    :background-decoration="true"
    :background-image="backgroundImage"
    :background-position="backgroundPosition"
    :class="blockClasses"
>

    <module-content
        :class="[element('question')]"
        ref="question"
    >

        <layout :layout="headingLayout.layout">
            <template #[headingLayout.slot]>
                <slot name="heading">
                    <c-heading
                        :alignment="alignment"
                        :class="element('heading')"
                        :tag="question.tag"
                        :overline="question.overline"
                        :overlineTag="question.overlineTag"
                        :overlineType="question.overlineType"
                        :overlineAttrs="question.overlineAttrs"
                        :headline="question.headline"
                        :headlineTag="question.headlineTag || 'h2'"
                        :headlineType="question.headlineType || 'h2'"
                        :headlineAttrs="question.headlineAttrs"
                    />
                </slot>

                <div v-if="question.button || $slots.audio" :class="[element('audio-container'), alignment ? `text-align-${alignment}` : null]">
                    <slot name="audio">
                        <c-button-audio
                            v-if="question.button"
                            v-bind="question.button"
                            :class="element('audio')"
                        />
                    </slot>
                </div>

                <slot name="instruction">
                    <c-heading
                        :alignment="alignment"
                        :class="[element('heading'), element('instruction')]"
                        :tag="question.tag"
                        :subline="question.subline"
                        :sublineTag="question.sublineTag || 'span'"
                        :sublineType="question.sublineType || 'copytext'"
                        :sublineAttrs="question.sublineAttrs"
                    />
                </slot>
            </template>
        </layout>
    </module-content>

    <module-content
        :class="[element('interaction')]"
        ref="interaction"
    >
        <layout :layout="interactionLayout.layout">
            <template #[interactionLayout.slot]>
                <slot v-bind="slotProps" />
            </template>
        </layout>
    </module-content>

    <div
        ref="feedbacks"
        :class="[
            element('answer'),
            `module-${backgroundPosition}`,
        ]"
    >
        <module-content>
            <slot name="feedbacks" v-bind="slotProps" />
        </module-content>
    </div>


</module>




