////
///
/// m-interaction
///
/// @group Modules
///
////

$m-interaction-breakpoint-desktop: 's' !default;
$m-interaction-question-spacing: 'xsmall' !default;
$m-interaction-question-column-size: 5 !default;
$m-interaction-question-padding-bottom--stacked: 'xxsmall' !default;
$m-interaction-interaction-padding-top--stacked: 'xsmall' !default;

$m-interaction-interaction-column-size: _get-grid-data('columns') - $m-interaction-question-column-size;

.m-interaction {

    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]

    // <editor-fold desc="old region Element">
    &__question-wrapper {
        > .c-grid {
            height: 100%;
        }
    }

    & &__question {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        z-index: zindex(500);

        @include below($m-interaction-breakpoint-desktop) {
            @include responsive-spacing($m-interaction-question-padding-bottom--stacked, padding-bottom);
        }

        .c-heading {
            width: 100%;
            text-align: center;
        }

    }

    &__question-background {
        z-index: zindex(300);
        @include color-theme('background');
    }

    &__assets {
        @include responsive-spacing($m-interaction-question-spacing, margin-top margin-bottom);

        &,
        .component-loader {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > * {
                flex: 1 0;

                & ~ * {
                    @include responsive-spacing($m-interaction-question-spacing, margin-top);
                }
            }
        }

        .c-image {
            width: 100%;
        }

    }

    @at-root #{$module} {

        #{$module}__actions {
            @include responsive-spacing($m-interaction-question-spacing, margin-top);
        }

        #{$module}__progress {
            @include responsive-spacing($m-interaction-question-spacing, margin-bottom);
        }

    }

    &__text.c-text {
        width: 100%;
        text-align: center;
    }

    &__interaction-background {
        z-index: zindex(400);
        background-position: center center;
        background-size: cover;
        @include color-theme('background');
    }

    &__interaction {
        align-self: center;

        .interaction {


            @include below($m-interaction-breakpoint-desktop) {
                @include responsive-spacing ($m-interaction-interaction-padding-top--stacked, padding-top);
            }
        }
    }


    &__feedback {
        z-index: zindex(800);
    }

    &__feedback-wrapper {
        display: flex;
        align-items: stretch;
        z-index: zindex(900);
        overflow: hidden;

        & > * {
            width: 100%;
        }

    }

    &__feedback-background {
        z-index: zindex(800);
        pointer-events: none;
        opacity: 0;
        @include color-theme('interaction-background');
    }
    // </editor-fold>

    // <editor-fold desc="new region Element">
    &__question {
        @include grid-cell-size(12);
    }

    &__question-background {
        @include grid-cell-size(12);
        @include grid-cell-offset('complete', 'viewport', $m-interaction-breakpoint-desktop, 'below');
    }

    &__interaction,
    &__feedback {
        @include grid-cell-size(12);
    }

    &__interaction-background,
    &__feedback-background {
        @include grid-cell-size(12);
        @include grid-cell-offset('complete', 'viewport', $m-interaction-breakpoint-desktop, 'below');
    }

    @at-root .module#{$module} {

        #{$module} {

            &__interaction,
            &__feedback,
            &__feedback-background-wrapper {
                @include grid-cell-row-start(2);
            }

            &__interaction-background-wrapper {
                @include grid-cell-height(2);
            }

        }
    }

    &__background-grid {
        height: 100%;
    }
    // </editor-fold>

    // #endregion

    // #region [Modifier]
    // <editor-fold desc="old region Modifier">
    &--type-default {

        #{$module} {

            &__question {

                @include above($m-interaction-breakpoint-desktop) {
                    justify-content: flex-start;
                    align-content: center;

                    .c-heading {
                        text-align: left;
                        @include rtl() {
                            text-align: right;
                        }
                    }
                }
            }

            &__assets {

                @include above($m-interaction-breakpoint-desktop) {
                    align-items: flex-start;

                    .component-loader {
                        align-items: flex-start;
                    }
                }
            }

            &__text.c-text {
                @include above($m-interaction-breakpoint-desktop) {
                    text-align: left;
                    @include rtl() {
                        text-align: right;
                    }
                }
            }

        }

    }

    &--type-stacked {

        #{$module} {

            &__question-background,
            &__interaction-background,
            &__feedback-background {
                @include grid-cell-offset('complete', 'page', $m-interaction-breakpoint-desktop, 'above');
            }

            &__background--viewport {
                @include grid-cell-offset('complete', 'viewport', $m-interaction-breakpoint-desktop, 'above');
            }

        }

    }
    // </editor-fold>

    // <editor-fold desc="new region Modifier">
    @at-root .module#{$module} {

        &--type-default {

            #{$module} {

                &__question {
                    @include above($m-interaction-breakpoint-desktop) {
                        @include grid-cell-size($m-interaction-question-column-size - 1);
                        @include grid-cell-position(1, 1);
                    }
                }

                &__question-background {
                    @include grid-cell-offset('start', 'page', $m-interaction-breakpoint-desktop, 'above');

                    @include above($m-interaction-breakpoint-desktop) {
                        @include color-theme('interaction-question-background');
                        @include grid-cell-size($m-interaction-question-column-size);
                        @include grid-cell-position(1, 1);
                    }
                }

                &__interaction-background {
                    @include above($m-interaction-breakpoint-desktop) {
                        @include color-theme('interaction-background');
                    }
                }

                &__interaction-background,
                &__feedback-background {
                    @include grid-cell-offset('end', 'page', $m-interaction-breakpoint-desktop, 'above');

                    @include above($m-interaction-breakpoint-desktop) {
                        @include grid-cell-size($m-interaction-interaction-column-size);
                        @include grid-cell-position($m-interaction-question-column-size + 1, 1);
                        @include grid-cell-push-gap('left', $m-interaction-interaction-column-size);
                    }
                }

                &__interaction,
                &__interaction-background-wrapper,
                &__feedback,
                &__feedback-background-wrapper {
                    @include above($m-interaction-breakpoint-desktop) {
                        @include grid-cell-row-start(1);
                        @include grid-cell-height(1);
                    }
                }

                &__background--viewport {
                    &[class*=question-] {
                        @include grid-cell-offset('start', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                    }
                    &[class*=interaction-] {
                        @include grid-cell-offset('end', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                    }

                    &[class*=feedback-] {
                        @include grid-cell-offset('end', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                    }
                }
            }
        }

        &--type-stacked {

            #{$module} {

                &__question {
                    @include above($m-interaction-breakpoint-desktop) {
                        @include responsive-spacing ($m-interaction-question-padding-bottom--stacked, padding-bottom);
                    }
                }

                &__interaction {

                    .interaction {
                        @include above($m-interaction-breakpoint-desktop) {
                            @include responsive-spacing ($m-interaction-interaction-padding-top--stacked, padding-top);
                        }
                    }
                }

                &__assets {
                    .c-image {
                        @include above($m-interaction-breakpoint-desktop) {
                            width: grid-column-width-percentage(10);
                        }
                    }
                }
            }
        }
    }

    &--layoutArea-viewport {

        &#{$module}--type-default {

            #{$module} {

                &__question-background {
                    @include grid-cell-offset('start', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                }

                &__interaction-background,
                &__feedback-background {
                    @include grid-cell-offset('end', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                }
            }
        }

        &#{$module}--type-stacked {

            #{$module} {

                &__question-background {
                    @include grid-cell-offset('complete', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                }

                &__interaction-background,
                &__feedback-background {
                    @include grid-cell-offset('complete', 'viewport', $m-interaction-breakpoint-desktop, 'above');
                }
            }
        }
    }
    // </editor-fold>


    &--choice-question {
        #{$module} {

            &__question {

                justify-content: flex-start;
                align-content: center;

                .c-heading {
                    text-align: left;
                    @include rtl() {
                        text-align: right;
                    }
                }
            }


            &__assets {
                align-items: flex-start;

                .component-loader {
                    align-items: flex-start;
                }
            }

            &__text.c-text {
                text-align: left;
                @include rtl() {
                    text-align: right;
                }
            }

        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-interaction) {
        @include m-interaction;
    }
    // #endregion

}
