<header :class="blockClasses" v-if="this.$store.getters['header/visible']">

    <f-logo :class="element('logo')" />

    <transition name="navigation">
        <f-navigation :class="element('navigation')" v-if="$auth.loggedIn && navigation" />
    </transition>

    <div :class="element('actions')">

        <f-language-switch />

        <c-button appearance="header" icon="navigate-before" v-if="back" iconPosition="left" :label="$t('f-header--back')" @click.native="historyBack()" />

        <c-button appearance="header" icon="close" @click.native="closePage" v-if="close" />

    </div>

</header>
