////
///
/// f-header
///
/// @group Modules
///
////

$f-header-elements-responsive-spacing: ( 'default': '20', 'm': '27' ) !default;
$f-header-actions-responsive-spacing: ( 'default': '10', 'm': '16' ) !default;

.f-header {
    // #region [Block]
    z-index: zindex(500);
    // #endregion

    // #region [Element]
    &__logo {
        display: block;
        position: absolute;
        @include responsive-spacing( false, top left, $f-header-elements-responsive-spacing);
    }
    &__navigation {
        display: block;
        position: fixed;
        bottom: spacing(map-get($f-header-elements-responsive-spacing, 'default'));
        left: 50%;
        transform: translateX(-50%);
        @include above('m') {
            top: spacing(map-get($f-header-elements-responsive-spacing, 'm'));
            bottom: auto;
        }

    }
    &__actions {
        display: flex;
        position: absolute;
        @include responsive-spacing( false, top right, $f-header-elements-responsive-spacing);
        > * + * {
            @include responsive-spacing( false, margin-left, $f-header-actions-responsive-spacing);
        }
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-header) {
        @include f-header;
    }
    // #endregion

}
