<footer :class="blockClasses" v-if="this.$auth.loggedIn">

    <module :background="false">
        <module-page>
            <module-content>

                <layout layout="l-5-1-6">

                    <template v-slot:column-1>

                        <p :class="element('text')">
                            © Copyright <time v-html="new Date().getFullYear()" />
                        </p>

                    </template>

                    <template v-slot:column-3>

                        <transition name="fade">

                            <ul :class="element('list')">
                                <li :class="element('list-entry')" v-for="(item, index) in list.items" :key="index">

                                    <c-link :url="item.slug" :externalUrl="item.externalUrl">
                                        <span v-html="item.title" />
                                    </c-link>

                                </li>

                                <li :class="element('list-entry')">
                                    <c-button appearance="secondary" icon="logout" :label="$t('f-footer--logout')" @click.native="$auth.logout('local')" />
                                </li>


                            </ul>

                        </transition>

                    </template>

                </layout>

            </module-content>
        </module-page>
    </module>

</footer>
