<transition name="footer">
    <module tag="footer" :key="this.$store.getters['footer/visible'] + '' + this.$store.getters['footer/theme']" v-if="this.$store.getters['footer/visible']" :background="false" :class="blockClasses">
        <module-content>

            <layout layout="l-3-1-8">

                <template v-slot:column-1>

                    <p :class="element('text')">
                        © <time v-html="new Date().getFullYear()" /> {{ $t('seo--default-author') }}
                    </p>

                </template>

                <template v-slot:column-3>

                    <ul :class="element('list')" v-if="navigation.length > 0 || $auth.loggedIn" :key="$auth.loggedIn + '' + navigation.length">

                        <li :class="element('list-entry')" v-if="navigation" v-for="(item, index) in navigation" :key="index">
                            <nuxt-link v-if="item.hasOwnProperty('to')" :to="localePath(item.to)" >
                                {{ item.label }}
                            </nuxt-link>
                            <a :href="link.href" v-else>
                                {{ link.label }}
                            </a>
                        </li>

                        <transition name="fade">
                            <li :class="[element('list-entry'), element('logout')]" v-if="$auth.loggedIn">
                                <c-button appearance="secondary" icon="logout" :label="$t('f-footer--logout')" @click.native="logout" />
                            </li>
                        </transition>
                    </ul>

                </template>

            </layout>

        </module-content>
    </module>
</transition>
