////
///
/// f-footer
///
/// @group Frame
///
////

$f-footer-responsive-spacing: 'xsmall' !default;
$f-footer-font: font($default-font-family, 'regular', '14') !default;
$f-footer-list-align-desktop: flex-end !default;
$f-footer-list-entry-margin-left: spacing('27') !default;

.f-footer {
    // #region [Block]
    @include color-theme('footer');
    @include responsive-spacing($f-footer-responsive-spacing, padding-top padding-bottom);
    @include below('m') {
        padding-bottom: spacing('115');
    }
    // #endregion

    // #region [Element]

    .l-3-1-8__column-1,
    .l-3-1-8__column-3 {
        align-self: center;
    }

    &__text {
        font: $f-footer-font;
        text-align: center;
        @include above('s') {
            text-align: left;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        align-items: center;
        justify-content: center;
        @include above('s') {
            justify-content: $f-footer-list-align-desktop;
        }
    }

    &__list-entry {
        margin-top: spacing('20');
        list-style: none;
        font: $f-footer-font;
        white-space: nowrap;
        & + & {
            margin-left: $f-footer-list-entry-margin-left;
        }
        @include above('s') {
            margin-top: 0;
        }
    }

    a {
        transition: transition-fade-in(all);
        text-decoration: none;
        @include color-theme('link');
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-footer) {
        @include f-footer;
    }
    // #endregion

}
