<deprecated-interactions-c-choice-interaction
    :points="points"
    :retries="retries"
    #default="{ evaluate, retry, solve, isDisabled, isFeedbackVisible }"
    ref="interaction"
    @change="$emit('change', $event )"
>
    <deprecated-m-interaction
        :layout="layout"
        :heading-layout="headingLayout"
        :interaction-layout="interactionLayout"
        :alignment="alignment"
        :question="question"
        :type="type"
        :background-decoration="true"
        :background-image="backgroundImage"
        :background-position="backgroundPosition"
        :spacing-margin-top="spacingMarginTop"
        :spacing-padding-top="spacingPaddingTop"
        :spacing-margin-bottom="spacingMarginBottom"
        :spacing-padding-bottom="spacingPaddingBottom"
        :class="blockClasses"
        :is-feedback-visible="isFeedbackVisible"
        :scroll="scroll"
    >

        <template #default="{ scrollTo }">
            <div :class="{
                [element('choices')]: true,
                [elementModifier('choices', alignment)]: true,
                [spacingClass('padding', 'bottom', spacingPaddingBottom)]: true
            }">

                <deprecated-interactions-c-choice
                    v-for="(answer, choiceIndex) in answers"
                    :key="`true-false-${choiceIndex}`"
                    :correct="answer.correct"
                    :disabled="isDisabled.interactable"
                    @click.native="selectAndEvaluate(choiceIndex)"
                    @touchend.native="selectAndEvaluate(choiceIndex)"
                    #default="{ $data }"
                >

                    <c-button
                        :class="element('button')"
                        :disabled="$data.disabled"
                        :selected="$data.selected"
                        :label="answer.text"
                        :icon="answer.icon"
                        @click.native="scrollTo('feedbacks')"
                    />

                </deprecated-interactions-c-choice>

            </div>
        </template>

        <template #feedbacks>
            <deprecated-interactions-c-feedback
                feedback-type="positive"
                v-if="feedbacks && feedbacks.positive"
                v-bind="feedbacks.positive"
            />

            <deprecated-interactions-c-feedback
                feedback-type="negative"
                v-if="feedbacks && feedbacks.negative"
                v-bind="feedbacks.negative"
            />
        </template>
    </deprecated-m-interaction>
</deprecated-interactions-c-choice-interaction>
