<component :is="tag" :class="blockClasses">

    <c-message :error="!valid" :message="message" />

    <form accept-charset="UTF-8" v-if="(!message && valid) || (message && !valid)" @submit.prevent="requestPasswordReset">

        <c-input-text :class="element('input')" name="loginName" :valid="valid" ref="loginName" type="text" :label="$t('c-form-forgot-password--username')" />

        <div :class="element('submit')">
            <c-button type="submit" :loading="loading" :label="$t('c-form-forgot-password--label')" />
        </div>

    </form>

</component>
