////
///
/// c-quiz-progress-indicator
///
/// @group Components
///
////

$c-quiz-progress-indicator-border-width: unitize(1px) !default;
$c-quiz-progress-indicator-height: unitize(10px) !default;
$c-quiz-progress-indicator-margin-x: unitize(10px) !default;
$c-quiz-progress-indicator-width: unitize(10px) !default;

.c-quiz-progress-indicator {

    // #region [Block]
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    // #endregion

    // #region [Element]
    &__label#{&}__label {
        text-align: center;
        @include responsive-font('copytext--small', $font-weight-overwrite: 'bold');
    }

    &__state-row {
        display: flex;
        flex-flow: row nowrap;
        justify-items: center;
        width: 100%;
        justify-content: center;

        .c-text + & {
            margin-top: spacing('16');
        }

        & + & {
            margin-top: spacing('3');
        }
    }

    &__state {
        flex: 1 1 auto;
        width: 100%;
        max-width: $c-quiz-progress-indicator-width;
        min-width: $c-quiz-progress-indicator-width;
        height: $c-quiz-progress-indicator-height;
        margin: 0 calc($c-quiz-progress-indicator-margin-x / 2);
        border-radius: 50%;
        transition: transition-appear(background);

        border-width: $c-quiz-progress-indicator-border-width;
        border-style: solid;
        border-color: transparent;

        @include color-theme('quiz-progress-indicator--inactive');

        &--active {
            @include color-theme('quiz-progress-indicator--active');
        }

        &--success {
            @include color-theme('quiz-progress-indicator--success');
        }

        &--failed {
            @include color-theme('quiz-progress-indicator--failed');
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-quiz-progress-indicator) {
        @include c-quiz-progress-indicator;
    }
    // #endregion

}
