////
///
/// c-quiz-progress-indicator
///
/// @group Components
///
////

$c-quiz-progress-indicator-breakpoint: 's' !default;
$c-quiz-progress-indicator-border-width: unitize(1px) !default;
$c-quiz-progress-indicator-height: unitize(10px) !default;
$c-quiz-progress-indicator-margin-x: unitize(10px) !default;
$c-quiz-progress-indicator-width: unitize(10px) !default;

.c-quiz-progress-indicator {

    // #region [Block]
    $module: &;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    // #endregion

    // #region [Element]
    &__label#{&}__label {
        text-align: center;
        @include responsive-font('copytext--small', $font-weight-overwrite: 'bold');
    }

    &__state-row {
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        justify-content: center;
        margin-top: $c-quiz-progress-indicator-margin-x * -1;

        .c-text + & {
            margin-top: $c-quiz-progress-indicator-margin-x * -1;
            padding-top: spacing('16');
        }
    }

    &__state {
        flex: 1 1 auto;
        width: 100%;
        max-width: $c-quiz-progress-indicator-width;
        min-width: $c-quiz-progress-indicator-width;
        height: $c-quiz-progress-indicator-height;
        margin: $c-quiz-progress-indicator-margin-x calc($c-quiz-progress-indicator-margin-x / 2) 0;
        border-radius: 50%;
        transition: transition-appear(background);
        border-width: $c-quiz-progress-indicator-border-width;
        border-style: solid;
        border-color: transparent;

        @include color-theme('quiz-progress-indicator--inactive');

        &--active {
            @include color-theme('quiz-progress-indicator--active');
        }

        &--success {
            @include color-theme('quiz-progress-indicator--success');
        }

        &--failed {
            @include color-theme('quiz-progress-indicator--failed');
        }

    }
    // #endregion

    // #region [Modifier]
    @at-root.m-interaction {

        &--type-default {

            #{$module} {

                &__state-row {
                    @include above($c-quiz-progress-indicator-breakpoint) {
                        margin-left: calc($c-quiz-progress-indicator-margin-x / 2 * -1);
                    }
                }

                &__state-row {
                    @include above($c-quiz-progress-indicator-breakpoint) {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-quiz-progress-indicator) {
        @include c-quiz-progress-indicator;
    }
    // #endregion

}
