<module :class="blockClasses"
        :backgroundImage="null"
        :background="false"
        ref="quiz">

    <transition-group name="quiz-fade" :class="element('transition')">

            <m-interaction
                v-show="status === 'start'"
                key="start"
                v-bind="$props"
                :heading="{ ...this.heading, alignment: 'center' }"
                spacingMarginTop="none"
                spacingMarginBottom="none">

                <template #default>

                    <component :is="`module-${backgroundPosition}`" :class="element('image-wrapper')">

                        <module-content>

                            <c-grid :class="element('image-grid')">

                                <div :class="[element('image-container'), elementModifier('background', backgroundPosition)]">

                                    <c-image  v-bind="keyvisual"
                                              :inline="true"
                                              :objectFit="'cover'"
                                              :lazyload="false" />

                                </div>

                            </c-grid>

                        </module-content>

                    </component>

                </template>

                <template #actions>
                    <c-button :class="element('button')"
                              :label="$t('m-quiz--button-start-quiz')"
                              icon="play-circle-outline"
                              @click.native="startQuiz" />
                </template>

            </m-interaction>

            <template v-for="(question, index) in shuffeledQuestions">

            <m-interaction
                v-show="status === 'in progress' && selectedQuestionIndex === index"
                :key="index"
                ref="interactions"
                v-bind="getQuestionProps(index)"
                @change="questionChange">

                <template #progress>
                    <c-quiz-progress-indicator
                        :class="element('progress-indicator')"
                        v-bind="progressIndicator"
                        :labelTemplate="null"
                    />
                </template>

                <slot v-for="(_, name) in questionSlots" :name="name" :slot="name">
                    <component-loader :components="_" />
                </slot>

            </m-interaction>

            </template>

            <component v-show="status === 'end'" :is="`module-${backgroundPosition}`" key="end" :class="element('end-wrapper')">

                <module-content >

                    <div :class="[ element('end-description'), descriptionSpacingClasses ]">

                        <c-quiz-feedback v-bind="feedbackProps"
                                         @retry="retry" />

                    </div>

                </module-content>

            </component>

    </transition-group>

</module>
