////
///
/// c-form-set-password
///
/// @group Components
///
////

$c-form-set-password-input-margin: 0 !default;
$c-form-set-password-submit-margin: spacing('27') 0 0 0 !default;

.c-form-set-password {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]
    &__input.c-input-text {
        margin: $c-form-set-password-input-margin;
    }

    &__submit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: $c-form-set-password-submit-margin;
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-form-set-password) {
        @include c-form-set-password;
    }
    // #endregion

}
