<component :is="tag" :class="blockClasses">

    <transition-replace>

        <c-message v-if="!tokensVerified" :error="!valid" :message="message" />

        <div v-else>

            <c-message :error="!valid || inputsHaveErrors" :message="message" />

            <form accept-charset="UTF-8" @submit.prevent="setPassword">

                <c-input-text ref="password" :class="element('input')" name="new-password" data-validate-required data-validate-password data-validate-match="password" @change="removeError('new-password')" :valid="!errors['new-password']" :type="passwordInputType" :label="$t('c-form-set-password--password')" appearance="boxed" autocomplete="new-password" >
                    <template #prefix><c-icon name="lock" /></template>

                    <template #suffix>
                        <div :class="element('visibility-wrapper')" @click.prevent.stop="toggleShowPassword" :title="visibilityTitle">
                            <c-icon  :name="visibilityIcon" />
                        </div>
                    </template>
                </c-input-text>

                <c-input-text :class="element('input')" name="confirm-password" data-validate-required data-validate-match="password" @change="removeError('password')" :valid="!errors['new-password']" :type="passwordInputType" :label="$t('c-form-set-password--confirm-password')" appearance="boxed" autocomplete="new-password" >
                    <template #prefix><c-icon name="lock" /></template>

                    <template #suffix>
                        <div :class="element('visibility-wrapper')" @click.prevent.stop="toggleShowPassword" :title="visibilityTitle">
                            <c-icon  :name="visibilityIcon" />
                        </div>
                    </template>
                </c-input-text>

                <div :class="element('submit')">
                    <c-button type="submit" :loading="loading" :spinner="true" :label="$t('c-form-set-password--label')" />
                </div>

            </form>

        </div>

    </transition-replace>

</component>
