////
///
/// f-content-bar
///
/// @group Frame
///
////

$f-content-bar-padding: unitize(4px) !default;
$f-content-bar-border-radius: unitize(44px) !default;
$f-content-bar-button-size: unitize(36px) !default;
$f-content-bar-color: color('white') !default;
$f-content-bar-background: color('contrasting-dark') !default;

.f-content-bar {
    // #region [Block]
    display: inline-flex;
    position: sticky;
    bottom: spacing('20');
    left: 50%;
    z-index: zindex(800);
    transform: translate(-50%, 0);
    padding: $f-content-bar-padding;
    color: $f-content-bar-color;
    background: $f-content-bar-background;
    border-radius: $f-content-bar-border-radius;
    @include responsive-spacing('xsmall', margin-top margin-bottom);
    // #endregion

    // #region [Element]
    &__list {
        display: flex;
        padding: 0;
        &-item {
            list-style: none;
            & + & {
                margin-left: spacing('10');
            }
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $f-content-bar-button-size;
        width: $f-content-bar-button-size;
        background: transparent;
        transition: transition-fade-in(all);
        border-radius: 50%;
        color: inherit;
        outline: none;
        cursor: default;
        user-select: none;

        &:not(#{&}--disabled):hover,
        &:not(#{&}--disabled):focus,
        &:not(#{&}--disabled):active {
            cursor: pointer;
            background: color('white:15:alpha');
        }

        &--disabled {
            color: color('white:10:alpha')
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-content-bar) {
        @include f-content-bar;
    }
    // #endregion

}
