////
///
/// m-single-choice-interaction
///
/// @group Modules
///
////

.m-single-choice-interaction {
    // #region [Block]
    $module: &;
    // #endregion

    // #region [Element]
    @at-root .module#{&} {

        #{$module}__choices {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            margin: 0 0 spacing('44');

            > * + * {
                margin-top: spacing('27');
            }

            #{$module}__choice-wrapper {
                position: relative;

                .c-input-radio {
                    position: absolute;
                    top: spacing('10');
                    right: spacing('10');
                    z-index: zindex(300);

                    @include above('s') {
                        top: spacing('16');
                        right: spacing('16');
                    }
                }
            }


            &--2-rows-layout {
                $colum-gutter: _get-grid-data('column-gutter', 'default');

                flex-flow: row wrap;
                margin: calc(#{$colum-gutter / -2}) calc(#{$colum-gutter / -2}) calc(#{$colum-gutter / -2} + #{spacing('44')});
                overflow: hidden;

                > * + * {
                    margin-top: 0;
                }

                .deprecated-c-choice {
                    flex: 1 1 50%;
                    width: 50%;
                    max-width: 50%;
                    margin: 0;
                    padding: calc(#{$colum-gutter / -2});
                }
            }

        }
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(m-single-choice-interaction) {
        @include m-single-choice-interaction;
    }
    // #endregion

}
