<deprecated-interactions-c-choice-interaction
    :points="points"
    :retries="retries"
    :select-multiple="false"
    #default="{ evaluate, retry, solve, isDisabled, isFeedbackVisible }"
    ref="interaction"
    @change="$emit('change', $event )"
>
    <deprecated-m-interaction
        :heading-layout="headingLayout"
        :interaction-layout="interactionLayout"

        :layout="layout"
        :alignment="alignment"
        :question="question"
        :type="type"
        :background-decoration="true"
        :background-image="backgroundImage"
        :background-position="backgroundPosition"
        :spacing-margin-top="spacingMarginTop"
        :spacing-padding-top="spacingPaddingTop"
        :spacing-margin-bottom="spacingMarginBottom"
        :spacing-padding-bottom="spacingPaddingBottom"
        :class="blockClasses"
        :is-feedback-visible="isFeedbackVisible"
        :scroll="scroll"
    >

        <template #default="{ scrollTo }">
            <div :class="[
                element('choices'),
                elementModifier('choices', alignment),
                { [elementModifier('choices', '2-rows-layout')]: hasAnswerImages }
            ]">

                <deprecated-interactions-c-choice
                    :correct="answer.correct"
                    :key="`single-choice-${choiceIndex}-${uid}`"
                    v-for="(answer, choiceIndex) in shuffledAnswers"
                    #default="{ $data }"
                    :renderless="!hasAnswerImage(answer)"
                >

                    <div
                        :class="element('choice-wrapper')"
                        v-if="hasAnswerImage(answer)"
                    >
                        <deprecated-interactions-c-choice-image
                            v-model="$data.selected"
                            :disabled="$data.disabled"
                            :readonly="$data.readonly"
                            :image="answer.asset.image"
                            :text="answer.text"
                        />
                        <c-input-radio
                            v-model="$data.selected"
                            :disabled="$data.disabled"
                            :readonly="$data.readonly"
                            :name="`choicegroup-${uid}`"
                            :tabindex="-1"
                        />
                    </div>
                    <c-input-radio
                        v-else
                        v-model="$data.selected"
                        :disabled="$data.disabled"
                        :readonly="$data.readonly"
                        :name="`choicegroup-${uid}`"
                        size="big"
                        :label="answer.text"
                    />
                </deprecated-interactions-c-choice>

            </div>

            <c-button
                tabindex="0"
                :disabled="isDisabled.evaluate"
                :label="buttons.evaluate"
                :class="spacingClass('margin', 'bottom', spacingPaddingBottom)"
                @click.native="evaluate(); scrollTo('feedbacks')"
                @touchend.native.prevent="evaluate(); scrollTo('feedbacks')"
            />

        </template>

        <template #feedbacks="{ scrollTo }">

            <deprecated-interactions-c-feedback
                feedback-type="positive"
                v-if="feedbacks && feedbacks.positive"
                v-bind="feedbacks.positive"
            />

            <deprecated-interactions-c-feedback
                feedback-type="negative"
                v-if="feedbacks && feedbacks.negative"
                v-bind="feedbacks.negative"
                #actions
            >
                <c-button
                    :disabled="isDisabled.retry"
                    :label="buttons.retry"
                    @click.native="retry(); scrollTo('question')"
                    @touchend.native.prevent="retry(); scrollTo('question')"
                />
                <c-button
                    v-if="feedbacks && feedbacks.solution"
                    :disabled="isDisabled.solve"
                    :label="buttons.solution"
                    @click.native="solve();"
                    @touchend.native.prevent="solve();"
                />
            </deprecated-interactions-c-feedback>

            <deprecated-interactions-c-feedback
                feedback-type="solution"
                v-if="feedbacks && feedbacks.solution"
                v-bind="feedbacks.solution"
            />

        </template>

    </deprecated-m-interaction>
</deprecated-interactions-c-choice-interaction>
