<component :is="tag" :class="blockClasses">

    <div :class="element('actions')">

        <c-button v-for="(answer, index) in answers"
                  :key="index"
                  :class="[element('button'), (markedAnswers[index]) ? modifier('selected') : '']"
                  size="big"
                  :label="answer.text"
                  :selected="markedAnswers[index]"
                  :disabled="resolved"
                  @click.native="evaluate(answer)" />

    </div>

</component>
