////
///
/// f-navigation
///
/// @group Components
///
////
$f-navigation-padding: unitize(4px) !default;
$f-navigation-border-radius: unitize(44px) !default;
$f-navigation-color: color('white') !default;
$f-navigation-background: color('contrasting-dark') !default;

.f-navigation {
    // #region [Block]
    padding: $f-navigation-padding;
    color: $f-navigation-color;
    background: $f-navigation-background;
    border-radius: $f-navigation-border-radius;
    // #endregion

    // #region [Element]
    &__list {
        position: relative;
        display: flex;
        padding: 0;
    }
    &__list-item {
        position: relative;
        display: block;
        z-index: 2;
        list-style: none;
        mix-blend-mode: difference;
        & + & {
            margin-left: spacing('10');
        }
    }
    &__link {
        display: block;
        padding: spacing('6');
        color: inherit;
        border-radius: $f-navigation-border-radius;
        @include responsive-font('header-text');
        span {
            display: none;
            font: inherit;
        }
        svg {
            display: block;
        }
        @include above('m') {
            padding: spacing('10') spacing('16');
            span {
                display: block;
            }
            svg {
                display: none;
            }
        }
    }
    &__elastic-shape {
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        display: flex;
        z-index: 1;
        opacity: 0;
        border-radius: 50%;
        background-color: transparent;
    }
    &__elastic-background {
        position: relative;
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        background: color('white');
        border-radius: $f-navigation-border-radius;
    }

    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-navigation) {
        @include f-navigation;
    }
    // #endregion

}
