<nav :class="blockClasses" role="navigation" v-if="list.length > 0">
    <ul :class="element('list')" ref="navigationList">
        <li :class="element('list-item')"  v-for="item in list" :key="item.id">
            <nuxt-link :ref="'navigation' + item.name.charAt(0).toUpperCase() + item.name.slice(1)" :class="element('link')" :to="localePath(item.path)" :data-index="item.id">
                <span>{{ $t('f-navigation--' + item.name) }}</span>
                <c-icon :aria-label="item.title" :name="item.icon" />
            </nuxt-link>
        </li>
        <li aria-hidden="true" :class="element('elastic-shape')" ref="elasticShape">
            <div ref="elasticShapeBackground" :class="element('elastic-background')" />
        </li>
    </ul>
</nav>
