////
///
/// f-browse-link
///
/// @group Components
///
////

$f-browse-link-border-radius: unitize(5px) !default;
$f-browse-link-icon-spacing: spacing('10') !default;
$f-browse-link-padding: unitize(10px) unitize(16px) unitize(10px) unitize(10px) !default;

.f-browse-link {
    // #region [Block]
    display: inline-flex;
    align-items: center;
    padding: $f-browse-link-padding;
    transition: transition(background-color, $default-animation-duration-fade-in);
    border-radius: $f-browse-link-border-radius;
    color: color('white');
    background-color: color('white:05:alpha');
    @include responsive-font('browse-link');
    // #endregion

    // #region [Element]
    &:hover,
    &:active
    &:focus {
        background-color: color('white:10:alpha');
        cursor: pointer;
    }

    &__chevron {
        color: color('white:50:alpha');
        margin-right: $f-browse-link-icon-spacing;
    }

    &__lock {
        color: color('white:50:alpha');
        margin-left: $f-browse-link-icon-spacing;
    }

    &__popup {
        width: unitize(500px);
        max-width: 100%;
        text-align: center;

        &-text {
            font: font($default-font-family, 'regular', '16');
            p, span {
                font: inherit;
            }
        }
        &-footer {
            text-align: center;
        }
        &-headline + &-text{
            margin-top: spacing('20');
        }
        &-text + form {
            display: block;
            margin-top: spacing('20');
        }
        &-headline + &-footer, &-text + &-footer {
            margin-top: spacing('44');
        }
    }
    // #endregion

    // #region [Modifier]
    &--locked {
        opacity: .5;
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-browse-link) {
        @include f-browse-link;
    }
    // #endregion

}
