////
///
/// f-browse-linklist
///
/// @group Frame
///
////

$f-browse-linklist-gap: unitize(10px) !default;
$f-browse-linklist-spacing-top: spacing('27') !default;

.f-browse-linklist {
    // #region [Block]
    display: flex;
    grid-gap: $f-browse-linklist-gap;
    flex-direction: column;
    margin: $f-browse-linklist-spacing-top 0 0;
    padding: 0;
    list-style: none;
    // #endregion

    // #region [Element]
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-browse-linklist) {
        @include f-browse-linklist;
    }
    // #endregion
}
