////
///
/// c-toast
///
/// @group Components
///
////

$c-toast-border-radius: spacing('20');
$c-toast-min-width: unitize(355px);
$c-toast-margin: spacing('20');
$c-toast-padding: spacing('27') spacing('44');

.c-toast {
    // #region [Block]
    display: block;
    position: absolute;
    bottom: calc(100% + $c-toast-margin);
    left: 50%;
    min-width: $c-toast-min-width;
    padding: $c-toast-padding;
    transform: translateX(-50%);
    text-align: center;
    border-radius: $c-toast-border-radius;
    @include color-theme('toast');
    @include responsive-font('copytext');
    // #endregion

    // #region [Element]
    // #endregion

    // #region [Modifier]
    &.slide-in-fade-out {
        &-enter {
            transform: translateY(50%) translateX(-50%);
        }
        &-enter-to {
            transform: translateY(0%) translateX(-50%);
        }
    }
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(c-toast) {
        @include c-toast;
    }
    // #endregion

}
