<nav :class="blockClasses">

    <transition-replace affectedElement=".f-header" affectedElementHeightSource=".module">

        <component :is="headerType === 'default' ? 'ul' : 'div'" :class="element('wrapper')" :key="headerType">

            <span  v-if="headerType === 'playlist' || headerType === 'basic'" :class="[element('item'), element('item--close')]">
                <button :class="element('link')" @click="closePage()">
                    <span :class="element('icon')">
                        <c-icon name="close" :aria-label="$t('f-header--close')" />
                    </span>
                </button>
            </span>

            <template v-if="headerType === 'default'">

                <li :class="element('item')">
                    <button @click.prevent="openNavigation()" :class="element('link')">
                        <span :class="element('icon')">
                            <c-icon name="menu" :aria-label="$t('f-header--navigation')" />
                        </span>
                        <span :class="element('label')">
                            {{ $t('f-header--navigation') }}
                        </span>
                    </button>
                </li>

                <li :class="[element('item'), element('item--search')]">
                    <nuxt-link to="/search" :class="element('link')">
                        <span :class="element('icon')">
                            <c-icon name="search" :aria-label="$t('f-header--search')" />
                        </span>
                    </nuxt-link>
                </li>

            </template>

            <template v-else-if="headerType === 'playlist' && playlistNavigation && playlistNavigation.anchors">
               <c-anchor-dropdown v-bind="playlistNavigation" />
            </template>

        </component>

    </transition-replace>

</nav>
