////
///
/// f-header-navigation
///
/// @group Frame
///
////


$f-header-navigation-bottom-mobile: spacing('16') !default;
$f-header-navigation-border-radius-mobile: unitize(33px) !default;
$f-header-navigation-background-mobile: rgba(color('black'), .8) !default;

$f-header-navigation-link-margin-mobile: unitize(11px) 0 unitize(11px) unitize(24px) !default;
$f-header-navigation-link-margin-desktop: 0 !default;
$f-header-navigation-link-vertical-padding-mobile: spacing('10') !default;
$f-header-navigation-link-horizontal-padding-mobile: spacing('10') !default;
$f-header-navigation-link-vertical-padding-desktop: spacing('6') !default;
$f-header-navigation-link-horizontal-padding-desktop: spacing('16') !default;
$f-header-navigation-link-color-mobile: color('white') !default;
$f-header-navigation-link-color-theme-desktop: 'copytext' !default;
$f-header-navigation-link-background-hover: rgba(color('disabled-selected'),.15) !default;
$f-header-navigation-link-border-radius-desktop: unitize(22px) !default;
$f-header-navigation-link-first-last-margin: spacing('16') !default;

$f-header-navigation-icon-icon-size: unitize(24px) !default;
$f-header-navigation-icon-margin-desktop: 0 spacing('10') 0 0 !default;
$f-header-navigation-icon-opacity-desktop: .33 !default;

$f-header-navigation-item-right-horizontal-desktop: spacing('20') !default;

$f-header-navigation-label-font: font($default-font-family, 'bold', '16') !default;

.f-header-navigation {
    // #region [Block]
    $module: &;
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: zindex(900);
    bottom: $f-header-navigation-bottom-mobile;
    left: 0;
    justify-content: center;
    width: 100%;
    user-select: none;
    @include below('s') {
        height: auto!important;
    }
    @include above('s') {
        position: relative;
        display: block;
        bottom: auto;
        left: 0;
        min-height: 100%;
        visibility: visible;
    }
    // #endregion

    // #region [Element]
    &__wrapper {
        display: flex;
        position: relative;
        visibility: visible;
        align-items: center;
        padding: 0;
        border-radius: $f-header-navigation-border-radius-mobile;
        list-style: none;
        user-select: auto;
        transform: unset!important;
        perspective: unset!important;
        z-index: 1;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $f-header-navigation-background-mobile;
            border-radius: $f-header-navigation-border-radius-mobile;
        }
        @include above('s') {
            min-height: 100%;
            border-radius: 0;
            &:after {
                display: none;
                background: transparent;
                border-radius: 0;
            }
        }
    }

    &__link {
        display: block;
        position: relative;
        z-index: zindex(900);
        margin: $f-header-navigation-link-margin-mobile;
        padding: $f-header-navigation-link-vertical-padding-mobile $f-header-navigation-link-horizontal-padding-mobile;
        border: none;
        background: transparent;
        color: $f-header-navigation-link-color-mobile;
        cursor: pointer;
        @include above('s') {
            display: flex;
            align-items: center;
            margin: $f-header-navigation-link-margin-desktop;
            padding: $f-header-navigation-link-vertical-padding-desktop $f-header-navigation-link-horizontal-padding-desktop;
            transition: transition-fade-in(background);
            border-radius: $f-header-navigation-link-border-radius-desktop;
            @include color-theme($f-header-navigation-link-color-theme-desktop);
            &:hover, &:focus {
                background: $f-header-navigation-link-background-hover;
            }
        }
    }

    &__icon {
        display: block;
        align-self: center;
        width: $f-header-navigation-icon-icon-size;
        height: $f-header-navigation-icon-icon-size;
        @include above('s') {
            display: inline-block;
            margin: $f-header-navigation-icon-margin-desktop;
            opacity: $f-header-navigation-icon-opacity-desktop;
        }
        svg {
            display: block;
            width: inherit;
            height: inherit;
        }
    }

    &__label {
        display: none;
        position: relative;
        font: $f-header-navigation-label-font;
        @include above('s') {
            display: block;
        }
    }

    &__item {

        &:first-child {
            #{$module}__link {
                margin-left: $f-header-navigation-link-first-last-margin;
                @include above('s') {
                    margin-left: 0;
                }
            }
        }

        &:last-child {
            #{$module}__link {
                margin-right: $f-header-navigation-link-first-last-margin;
                @include above('s') {
                    margin-right: 0;
                }
            }
        }

        &--search {
            @include above('s') {
                position: absolute;
                top: 50%;
                right: $f-header-navigation-item-right-horizontal-desktop;
                transform: translate(0, -50%);

                #{$module}__icon {
                    margin-right: 0;
                    opacity: 1;
                }

                #{$module}__link {
                    padding: $f-header-navigation-link-vertical-padding-mobile;
                }

            }
        }

        &--close {
            @include above('s') {
                position: absolute;
                top: 50%;
                right: $f-header-navigation-item-right-horizontal-desktop;
                transform: translate(0, -50%);

                #{$module}__icon {
                    margin-right: 0;
                }

                #{$module}__link {
                    padding: $f-header-navigation-link-vertical-padding-mobile;
                }

            }
        }

    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-header-navigation) {
        @include f-header-navigation;
    }
    // #endregion

}
