///
/// Companion Plugin Style Palettes
///

/// Search Color Themes
'search-field': (
light: (
background-color: 'light-deco',
color: 'light-font'
),
medium: (
background-color: 'medium-deco',
color: 'medium-font'
),
dark: (
background-color: 'dark-deco',
color: 'dark-font'
)
),
'search-button': (
light: (
background-color: 'light',
border-color: 'light-deco'
),
medium: (
background-color: 'light',
border-color: 'medium-deco'
),
dark: (
background-color: 'light',
border-color: 'dark-deco'
)
),

/// Pills Color Themes
'tag-pill': (
light: (
background-color: (
'default': 'primary:15:alpha',
':hover': 'primary',
),
color: (
'default': 'primary',
':hover': 'white',
)
),
medium: (
background-color: (
'default': 'primary:15:alpha',
':hover': 'primary',
),
color: (
'default': 'primary',
':hover': 'white',
)
),
dark: (
background-color: (
'default': lighten(_color('primary'), 25%),
':hover': 'primary',
),
color: (
'default': 'white',
':hover': 'white',
)
)
),
'selected-tag-pill': (
light: (
background-color: 'primary',
color: 'white'
),
medium: (
background-color: 'primary',
color: 'white'
),
dark: (
background-color: 'primary',
color: 'white'
)
),

/// Timebox Color Themes
'timebox': (
light: (
background-color: 'dark',
color: 'dark-font'
),
medium: (
background-color: 'dark',
color: 'dark-font'
),
dark: (
background-color: 'light',
color: 'light-font'
)
),

/// Footer Color Themes
'footer': (
light: (
background-color: 'light-deco',
color: 'light-font'
),
medium: (
background-color: 'medium-deco',
color: 'medium-font'
),
dark: (
background-color: 'dark-deco',
color: 'dark-font'
)
),

/// Feedback Color Themes
'feedback-arrow': (
light: (
border-bottom-color: 'light-deco',
),
medium: (
border-bottom-color: 'medium-deco',
),
dark: (
border-bottom-color: 'dark-deco',
)
),
'feedback-background': (
light: (
background: 'light-deco',
),
medium: (
background: 'medium-deco',
),
dark: (
background: 'dark-deco',
)
),
'feedback-solution-icon': (
light: (
background: 'white',
color: 'dark'
),
medium: (
background: 'white',
color: 'dark'
),
dark: (
background: 'white',
color: 'dark'
)
),


/// Tooltip Component Color Themes
'tooltip': (
light: (
background-color: 'primary',
color: 'dark-font'
),
medium: (
background-color: 'primary',
color: 'dark-font'
),
dark: (
background-color: 'light',
color: 'light-font'
)
),
