////
///
/// Color Config
///
/// @group Configuration
/// @since 1.0.0
///
////


///
/// Private color getter.
/// Don´t use it the project. Use "color(xxx)" instead.
/// @param {string} $color-name - Name of the color
///
/// @return {string} Hexcode
///
@function _base-color($color-name) {
    @return map-get(map-merge($color-base, $color-derivates), $color-name);
}


///
/// Additional Color palette configuration.
/// Extends the configuration of all color sets.
/// Alias for js import: 'colorPalettes'
/// @type array
///
$color-palettes: map-merge((

    /// Search Color Themes
    'search-field': (
        light: (
            background-color: 'light-deco',
            color: 'light-font'
        ),
        medium: (
            background-color: 'medium-deco',
            color: 'medium-font'
        ),
        dark: (
            background-color: 'dark-deco',
            color: 'dark-font'
        )
    ),
    'search-button': (
        light: (
            background-color: 'light',
            border-color: 'light-deco'
        ),
        medium: (
            background-color: 'light',
            border-color: 'medium-deco'
        ),
        dark: (
            background-color: 'light',
            border-color: 'dark-deco'
        )
    ),

    /// Pills Color Themes
    'tag-pill': (
        light: (
            background-color: (
                'default': rgba(_base-color('primary'), .15),
                ':hover': 'primary',
            ),
            color: (
                'default': 'primary',
                ':hover': 'white',
            )
        ),
        medium: (
            background-color: (
                'default': rgba(_base-color('primary'), .15),
                ':hover': 'primary',
            ),
            color: (
                'default': 'primary',
                ':hover': 'white',
            )
        ),
        dark: (
            background-color: (
                'default': lighten(_base-color('primary'), 25%),
                ':hover': 'primary',
            ),
            color: (
                'default': 'white',
                ':hover': 'white',
            )
        )
    ),
    'selected-tag-pill': (
        light: (
            background-color: 'primary',
            color: 'white'
        ),
        medium: (
            background-color: 'primary',
            color: 'white'
        ),
        dark: (
            background-color: 'primary',
            color: 'white'
        )
    ),

    /// Timebox Color Themes
    'timebox': (
        light: (
            background-color: 'dark',
            color: 'dark-font'
        ),
        medium: (
            background-color: 'dark',
            color: 'dark-font'
        ),
        dark: (
            background-color: 'light',
            color: 'light-font'
        )
    ),

    /// Footer Color Themes
    'footer': (
        light: (
            background-color: 'light-deco',
            color: 'light-font'
        ),
        medium: (
            background-color: 'medium-deco',
            color: 'medium-font'
        ),
        dark: (
            background-color: 'dark-deco',
            color: 'dark-font'
        )
    ),

    /// Feedback Color Themes
    'feedback-arrow': (
        light: (
            border-bottom-color: 'light-deco',
        ),
        medium: (
            border-bottom-color: 'medium-deco',
        ),
        dark: (
            border-bottom-color: 'dark-deco',
        )
    ),
    'feedback-background': (
        light: (
            background: 'light-deco',
        ),
        medium: (
            background: 'medium-deco',
        ),
        dark: (
            background: 'dark-deco',
        )
    ),
    'feedback-solution-icon': (
        light: (
            background: 'white',
            color: 'dark'
        ),
        medium: (
            background: 'white',
            color: 'dark'
        ),
        dark: (
            background: 'white',
            color: 'dark'
        )
    ),

), $color-palettes);


///
/// Update the default map from the scss framework
///
$default-color-palettes-map: $color-palettes;
