////
///
/// f-sticky-tabs
///
/// @group Frame
///
////

$f-sticky-tabs-tab-margin: unitize(20px);
$f-sticky-tabs-selection-marker-height: unitize(4px);
$f-sticky-tabs-totop-size: unitize(44px);
$f-sticky-tabs-selection-color: color('primary');

.f-sticky-tabs {
    // #region [Block]
    position: sticky!important;
    z-index: zindex(900)!important;
    top: 0;
    align-items: center;
    // #endregion

    // #region [Element]
    &__tabs {
        position: relative;
        display: flex;
        align-items: center;
        padding: spacing('10') 0 spacing('6');
        border-bottom-width: 1px;
        border-bottom-style: solid;
        @include color-theme('sticky-tabs');
        @include above('s') {
            padding: spacing('71') 0 spacing('6');
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: block;
        & + &  {
            margin-left: $f-sticky-tabs-tab-margin;
            @include rtl() {
                margin-left: 0;
                margin-right: $f-sticky-tabs-tab-margin;
            }
        }
    }

    &__radio {
        position: absolute;
        opacity: 0;
    }

    &__label {
        display: block;
        transition: transition(color);
        @include responsive-font('sticky-tab');

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit;
        }

        svg {
            @include above('s') {
                margin-right: 6px;
                @include rtl() {
                    margin-right: 0;
                    margin-left: 6px;
                }
            }
        }

        &:hover,
        &:active,
        [type="radio"]:focus + &,
        [type="radio"]:checked + & {
            color: $f-sticky-tabs-selection-color;
        }

        /* stylelint-disable no-descending-specificity */
        &:hover,
        &:active,
        [type="radio"]:focus + & {
            cursor: pointer;
        }
        /* stylelint-enable no-descending-specificity */
    }

    &__label-text {
        display: none;
        @include above('s') {
            display: inline;
        }
    }

    &__totop {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $f-sticky-tabs-totop-size;
        height: $f-sticky-tabs-totop-size;
        opacity: .5;
        color: inherit;
    }

    &__selection-marker {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: $f-sticky-tabs-selection-marker-height;
        transition:
            left $default-animation-duration $default-animation-easing,
            width $default-animation-duration $default-animation-easing;
        background: $f-sticky-tabs-selection-color;
    }
    // #endregion

    // #region [Modifier]
    // #endregion

    // #region [Overwrites]
    @if mixin-exists(f-sticky-tabs) {
        @include f-sticky-tabs;
    }
    // #endregion

}
