////
///
/// m-quiz-feedback
///
/// @group Modules
///
////
:global {

    .m-quiz-feedback {
        // #region [Block]
        // #endregion

        // #region [Element]
        // #endregion

        // #region [Modifier]
        // #endregion
        padding: spacing('44') 0;

        .l-2-8-2__column-2 > * + * {
            @include responsive-spacing( $properties: margin-top, $spacing-map: (default: '27', s: '44') );
        }

        &__heading {
            @include below('s') {
                margin-top: spacing('16');
            }
        }

        &__icon {
            width: unitize(140px);
            height: unitize(140px);
            padding: spacing('20');
            color: color('white');
            border-radius: 50%;
            border: 3px solid color('white');
            &--positive {
                color: color('success');
                border-color: color('success');
            }
            &--negative {
                color: color('error');
                border-color: color('error');
            }
        }

        &__text {
            text-align: center;
        }

        &__button {
            @include responsive-spacing( $properties: margin-top, $spacing-map: (default: '44', s: '71') );
        }

        &__progress-indicator {
            width: 100%;
        }

        .l-2-8-2__column-2 {
            text-align: center;
        }

        // #region [Overwrites]
        @if mixin-exists(m-quiz-feedback) {
            @include m-quiz-feedback;
        }
        // #endregion

    }
}

:export {
    success: _base-color('success');
    error: _base-color('error');
    darkDeco: _base-color('dark-deco');
}
